@use "../../styles/colors.scss";

.stepWrapper {
  width: 340px;
  height: 76px;
  display: flex;
  margin: 30px 0;
}

.stepP {
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$primary_main;
  flex-basis: 30%;
}

.stepP p {
  color: colors.$text_primary;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  border-radius: 15px 0 0 15px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.stepNumber {
  background-color: rgba(colors.$primary_main, 10%);
  width: 100%;
  text-align: center;
  height: 76px;
}

.stepContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$background_paper;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0;
  flex-basis: 70%;
  border-radius: 0 15px 15px 0;
}

.stepContent p:first-of-type {
  margin: 0;
  padding: 50px 50px 0 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: colors.$text_primary;
  border-radius: 0 15px 15px 0;
}

.stepContent p:last-of-type {
  padding: 0px 50px 49px 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: colors.$text_hint;
}

.container.light {
  background-color: rgba(colors.$primary_main, 20%);
  border-radius: 15px;
}
