@use "../../styles/colors";

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../../fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.card {
    border-radius: 15px !important;
    background-color: colors.$background_paper !important;
    display: flex;
    flex-direction: column;
    width: 339px;
    height: 443px;
    padding: 15px;
}

.avatar {
    align-items: left;
}

.media {
    width: 309px;
    height: 286px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 15px !important;
    padding: 15px auto !important;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left;
}

.title {
  font-family: 'Montserrat-Black';
  font-size: 16px;
  color: white;
  margin: 0 auto;
  width: 100%;

}

.price{
  font-family: 'Montserrat-Bold';
  color: colors.$secondary_main;
  margin: 0 auto;
  font-size: 14px;


}

.likes {
  background-color: #1A2E2D !important;
  color: colors.$secondary_main !important;
  border: 2px solid colors.$secondary_main !important;
  padding: 15px 5px !important;
  margin: 10px auto !important;
  font-family: 'Montserrat-Bold' !important;
  font-size: 14px !important;

}

.icon {
  color: colors.$secondary_main !important;
  background-color: #1A2E2D !important;
}
