@use "../../styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



.wrapper {
  padding: 100px;
  background-color: colors.$background_paper;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.grid {
    border: 1px solid black;
    background-color: colors.$background_paper;
    align-items: center;
    justify-content: center;
}

.searchField {
    background-color: colors.$background_default;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.searchInput {
  width: 100%;
  margin-left: 20px;
  color: colors.$text_secondary;
}

.searchInput::placeholder {
  color: colors.$text_secondary;
}

.link::first-letter {
  transform: to-upper-case($string: "");
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}


.buttonContainer {
  align-items: center;
  justify-content: center;
}
